{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}登录{% endblock %}

<meta charset="UTF-8">
{% block content %}
    <div class="page-header">
        <div class="container">
            <h1>登录</h1>
        </div>
        <div class="container">
            <h3>
                {% for message in get_flashed_messages() %}
                {{ message }}
                {% endfor %}
            </h3>
        </div>
    </div>
    <div class="container">
        <form method="post" id="loginform">
            {{ wtf.quick_form(form) }}
        </form>
    </div>
{% endblock %}
